# Dependency directory
node_modules/

# Production build output
dist/
__pycache__/

# Local environment files
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/